.myPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    padding-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profileSection,
.quickLinks {
    border-radius: 30px;
    padding: 20px;
    border: solid rgb(221, 221, 221) 1px;
}

.profileSection {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: solid rgb(228, 228, 228) 1px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* 가로 크기를 전체로 */
}

.profile h2 {
    margin: 0;
    text-align: left;
}

.input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.link {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-top: 5px;
}

.link:hover {
    text-decoration: underline;
}



.quickLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quickLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quickLinks ul:empty {
    border: none;
}

.quickLinks li {
    margin-top: 20px;
    padding-bottom: 20px;
}

.quickLinks li:not(:last-child) {
    border-bottom: solid rgb(228, 228, 228) 1px;
    margin-bottom: 20px;
}

.quickLinks li :empty {
    border-bottom: solid none;
}

.quickLinks a {
    text-decoration: none;
    color: #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quickLinks a:hover {
    color: #000;
    font-weight: bold;
}

.arrow {
    font-size: 16px;
    color: #000;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modalProfileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.updateButton {
    margin-top: 10px;
    background-color: #d6a060;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

.cancelButton {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

.updateButton:hover {
    background-color: #ad8350;
}

.cancelButton:hover {
    background-color: #5e0808;
}

.deleteButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
}

.deleteButton:hover {
    background-color: #d32f2f;
}

.deleteButton:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(244, 67, 54, 0.4);
}

.deleteButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.statusActiveText {
    color: lightgreen;
    font-weight: bold;

}

.statusInactiveText {
    color: gray;
    font-weight: bold;
}